.git
.github
.gitignore
.env
.envrc
.idea
.vscode
.devcontainer
docker-compose.yml
Dockerfile
flake.nix
flake.lock
nix
completions
scripts
docs/images
docs/voices
docs/notification-config.yaml
docs/Automated-ChangeLog.md
docs/Automated-Changelog-Usage.md
docs/CODE_OF_CONDUCT.md
docs/CONTRIBUTING.md
web/legacy
web/myfiles
web/STD-README.md